// Path to images
$image-path: '../img/';

//Fonts
$ptsans: 'PT Sans', sans-serif;
$ptserif: 'PT Serif', sans-serif;

// Colors

$white: #fff;
$black: #000;
$grey: #d7d8d9;
$border-bottom: #c70000;
$dark-grey: #333;
$carousel-background: #f7f9fa;
$carousel-title-color: #c80000;
$last-news-header-color: #3d76cc;
$last-news-link-hover-color: #3d76cc;
$last-news-item-outside-color: #bfbfc0;
$video-title-color: #6a0099;
$video-more-color: #5788d3;
$interesting-image-border-color: #bfbfc0;
$overview-item-header-color: #c70000;
$overview-item-title-color: #3d76cc;